DemoSynch - Copy (2)/BAESynch/Service References/SalesCustomObjec/CustomObject1_c.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="/oracle/apps/sales/custExtn/views/common/" xmlns:sdoJava="commonj.sdo/java" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" elementFormDefault="qualified" targetNamespace="/oracle/apps/sales/custExtn/views/common/" sdoJava:package="sessiondef.oracle.apps.sales.custExtn.views.common" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://ccaa-test.crm.us2.oraclecloud.com:443/opptyMgmtExtensibility/SalesCustomObjectService?XSD=/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <xsd:import schemaLocation="https://ccaa-test.crm.us2.oraclecloud.com:443/opptyMgmtExtensibility/SalesCustomObjectService?XSD=/xml/sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:annotation>
    <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
      <name xmlns="/oracle/apps/sales/custExtn/views/common/">Manager Calls</name>
      <oer:attributes xmlns:oer="http://xmlns.oracle.com/oer">
        <oer:attribute description="CREATED_BY_MIGRATION" name="SalesStage_c" xmlns:oer="http://xmlns.oracle.com/oer" />
      </oer:attributes>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="CustomObject1_c">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>Id</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Id" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="RecordName" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="ObjectVersionNumber" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CpdrfVerSor" nillable="true" type="xsd:int" />
      <xsd:element minOccurs="0" name="UserLastUpdateDate" nillable="true" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="CpdrfLastUpd" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CpdrfVerPillar" nillable="true" type="xsd:int" />
      <xsd:element minOccurs="0" name="JobDefinitionPackage" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="RequestId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="JobDefinitionName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CurrencyCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CurcyConvRateType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CorpCurrencyCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" default="CustomObject1_c" name="SourceType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" default="CustomObject1_c" name="AttachmentEntityName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PKProxy" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="IsOwner" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="RowId_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AccountId_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OpportunityId_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="SalesStage_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Subject_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ExternalUniqueID_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Description_c" nillable="true" type="ns0:base64Binary-DataHandler" />
      <xsd:element minOccurs="0" name="DateAssisted_c" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="SalesOffice_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreatedExternalDate_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ManagerName_Id_c" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="ManagerName_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Account_Id1_c" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="Account_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Opportunity_Id1_c" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="Opportunity_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AccountExternalUniqueID_Id_c" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="AccountExternalUniqueID_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AccountDCL_Id_c" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="AccountDCL_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OpportunityDCL_Id_c" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="OpportunityDCL_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ResourceDCL_Id_c" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="ResourceDCL_c" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="customObject1_c" type="CustomObject1_c" />
</xsd:schema>