DemoSynch - Copy (2)/BAESynch/Service References/FusionService_O/SWQuote_c.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://xmlns.oracle.com/apps/sales/opptyMgmt/opportunities/opportunityService/" xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/sales/opptyMgmt/opportunities/opportunityService/" sdoJava:package="sessiondef.oracle.apps.sales.custExtn.views.common" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://adc-fap0915-crm.oracledemos.com:443/opptyMgmtOpportunities/OpportunityService?XSD=/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <xsd:import schemaLocation="https://adc-fap0915-crm.oracledemos.com:443/opptyMgmtOpportunities/OpportunityService?XSD=/xml/sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:import schemaLocation="https://adc-fap0915-crm.oracledemos.com:443/opptyMgmtOpportunities/OpportunityService?XSD=/xml/sdoXML.xsd" namespace="commonj.sdo/xml" />
  <xsd:annotation>
    <xsd:documentation>
      <name xmlns="http://xmlns.oracle.com/apps/sales/opptyMgmt/opportunities/opportunityService/">Stepwise Quote</name>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="SWQuote_c">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>Id</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Id" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="RecordName" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreatedBy" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreationDate" nillable="true" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdatedBy" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastUpdateDate" nillable="true" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="ObjectVersionNumber" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="OpportunityVO_Id_c" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CpdrfVerSor" nillable="true" type="xsd:int" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="ConflictId" type="xsd:long" />
      <xsd:element minOccurs="0" name="UserLastUpdateDate" nillable="true" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="CpdrfLastUpd" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CpdrfVerPillar" nillable="true" type="xsd:int" />
      <xsd:element minOccurs="0" name="JobDefinitionPackage" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="RequestId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="JobDefinitionName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CurrencyCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CurcyConvRateType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CorpCurrencyCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="IsOwner" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CallStatusMessage_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CallStatus_c" nillable="true" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:BooleanObject" minOccurs="0" name="Dental_c" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="Sold_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Sold_cMeaning" nillable="true" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:BooleanObject" minOccurs="0" name="Medical_c" type="xsd:boolean" />
      <xsd:element sdoXML:dataType="sdoJava:BooleanObject" minOccurs="0" name="MultiState_c" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="QuoteComments_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="QuoteType_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="QuoteType_cMeaning" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Reason_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Reason_cMeaning" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Status_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="StepwiseQuoteID_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="StepwiseStatus_c" nillable="true" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:BooleanObject" minOccurs="0" name="Vision_c" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="WaitingPeriod_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="WaitingPeriod_cMeaning" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="sWQuote_c" type="SWQuote_c" />
</xsd:schema>