DemoSynch/BAESynch/Service References/SalesCustomObjec/CustomObject4_c.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="/oracle/apps/sales/custExtn/views/common/" xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" elementFormDefault="qualified" targetNamespace="/oracle/apps/sales/custExtn/views/common/" sdoJava:package="sessiondef.oracle.apps.sales.custExtn.views.common" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://ccaa-test.crm.us2.oraclecloud.com:443/opptyMgmtExtensibility/SalesCustomObjectService?XSD=/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <xsd:import schemaLocation="https://ccaa-test.crm.us2.oraclecloud.com:443/opptyMgmtExtensibility/SalesCustomObjectService?XSD=/xml/sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:import schemaLocation="https://ccaa-test.crm.us2.oraclecloud.com:443/opptyMgmtExtensibility/SalesCustomObjectService?XSD=/xml/sdoXML.xsd" namespace="commonj.sdo/xml" />
  <xsd:annotation>
    <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
      <name xmlns="/oracle/apps/sales/custExtn/views/common/">Rewards Program</name>
      <oer:attributes xmlns:oer="http://xmlns.oracle.com/oer">
        <oer:attribute description="CREATED_BY_MIGRATION" name="EngagementType_c" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="CREATED_BY_MIGRATION" name="BreakfastLunch_c" xmlns:oer="http://xmlns.oracle.com/oer" />
      </oer:attributes>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="CustomObject4_c">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>Id</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Id" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="RecordName" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="ObjectVersionNumber" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CpdrfVerSor" nillable="true" type="xsd:int" />
      <xsd:element minOccurs="0" name="UserLastUpdateDate" nillable="true" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="CpdrfLastUpd" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CpdrfVerPillar" nillable="true" type="xsd:int" />
      <xsd:element minOccurs="0" name="JobDefinitionPackage" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="RequestId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="JobDefinitionName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CurrencyCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CurcyConvRateType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CorpCurrencyCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" default="CustomObject4_c" name="SourceType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" default="CustomObject4_c" name="AttachmentEntityName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PKProxy" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="IsOwner" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Id_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LoyaltyProgramAbbrName_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="EngagementType_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ExternalUniqueID_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Description_c" nillable="true" type="ns0:base64Binary-DataHandler" />
      <xsd:element minOccurs="0" name="LoyaltyProgramName_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="NumberAttending_c" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="ReferralOpportunitiesForClient_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="IfFoodProvidedGiveDetailseeDel_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="NSPContactMeetingCoordinator_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PresentationIntroduction_c" nillable="true" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:BooleanObject" minOccurs="0" name="SpendCardsReceivedAndCounted_c" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="ESCServicePresenter_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="EventDate_c" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="Time_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Location_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="BreakfastLunch_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ClientContactMeetingCoordinato_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ClosingOutPresentation_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="SentToAndWhen_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CardRange_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="DistrictAdministrator_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LinkedInPage_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ExternalCreatedDate_c" nillable="true" type="ns0:date-Date" />
      <xsd:element sdoXML:dataType="sdoJava:BooleanObject" minOccurs="0" name="Card_c" type="xsd:boolean" />
      <xsd:element sdoXML:dataType="sdoJava:BooleanObject" minOccurs="0" name="NotQualified_c" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="AccountId_Id_c" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="AccountId_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LeadId_Id_c" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="LeadId_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Account_Id1_c" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="Account_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AccountExternalUniqueID_Id_c" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="AccountExternalUniqueID_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Lead_Id1_c" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="Lead_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LeadExternalUniqueID_Id_c" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="LeadExternalUniqueID_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Owner_Id_c" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="Owner_c" nillable="true" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:BooleanObject" minOccurs="0" name="Card1000_c" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="Contact_Id_c" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="Contact_c" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="customObject4_c" type="CustomObject4_c" />
</xsd:schema>