DemoSynch - Copy (2)/BAESynch/Service References/FusionPartnerService/LocationLocale.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/locationService/" xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/locationService/" sdoJava:package="oracle.apps.cdm.foundation.parties.locationService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://ccaa-test.crm.us2.oraclecloud.com:443/partnerCenterCorePublicModel/PartnerService?XSD=/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <xsd:import schemaLocation="https://ccaa-test.crm.us2.oraclecloud.com:443/partnerCenterCorePublicModel/PartnerService?XSD=/xml/sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:import schemaLocation="https://ccaa-test.crm.us2.oraclecloud.com:443/partnerCenterCorePublicModel/PartnerService?XSD=/xml/sdoXML.xsd" namespace="commonj.sdo/xml" />
  <xsd:annotation>
    <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
      <name xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/locationService/">Location Locale</name>
      <description xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/locationService/">The details about a location or address in the local language.</description>
      <oer:category name="lba" xmlns:oer="http://xmlns.oracle.com/oer">
        <value xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/locationService/">CdmTop-Customer Data Management</value>
        <value xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/locationService/">CdmTop-Customer Data Management : FoundationTop-Foundation</value>
        <value xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/locationService/">CdmTop-Customer Data Management : FoundationTop-Foundation :
                    FoundationParties-Parties</value>
      </oer:category>
      <oer:attributes xmlns:oer="http://xmlns.oracle.com/oer">
        <oer:attribute description="An additional address element to support flexible address format." name="AddrElementAttribute1" />
        <oer:attribute description="An additional address element to support flexible address format." name="AddrElementAttribute2" />
        <oer:attribute description="An additional address element to support flexible address format." name="AddrElementAttribute3" />
        <oer:attribute description="An additional address element to support flexible address format." name="AddrElementAttribute4" />
        <oer:attribute description="An additional address element to support flexible address format." name="AddrElementAttribute5" />
        <oer:attribute description="The first line of the address in the local language." name="Address1" />
        <oer:attribute description="The second line of the address in the local language." name="Address2" />
        <oer:attribute description="The third line of the address in the local language." name="Address3" />
        <oer:attribute description="The fourth line of the address in the local language." name="Address4" />
        <oer:attribute description="The building name or the building number for the address in the local language." name="Building" />
        <oer:attribute description="The city part of the address in the local language." name="City" />
        <oer:attribute description="The county part of the address in the local language." name="County" />
        <oer:attribute description="The user who created the row." name="CreatedBy" />
        <oer:attribute description="The date and time the row was created." name="CreationDate" />
        <oer:attribute description="The building floor number for the address in the local language." name="FloorNumber" />
        <oer:attribute description="The date and time the row was last updated." name="LastUpdateDate" />
        <oer:attribute description="The session login for the user who last updated the row." name="LastUpdateLogin" />
        <oer:attribute description="The user who last updated the row." name="LastUpdatedBy" />
        <oer:attribute description="Unique identifier for this location." name="LocationId" />
        <oer:attribute description="A number used for locking. The number is incremented every time the row is updated. The number at the beginning and end of a transaction is compared to check if another session has updated the row during the transaction." name="ObjectVersionNumber" />
        <oer:attribute description="The postal code of the address." name="PostalCode" />
        <oer:attribute description="The four-digit extension to the US postal code." name="PostalPlus4Code" />
        <oer:attribute description="The state part of the address in the local language." name="State" />
        <oer:attribute description="The language used to define the address elements of the location. The language should be in the lookup type FND_LANGUAGES.LANGUAGE_COD, else it is defaulted to the user session's language." name="TransliterationLang" />
        <oer:attribute description="The province part of the address in the local language." name="Province" />
      </oer:attributes>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="LocationLocaleResult">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:MethodResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Value" type="LocationLocale" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LocationLocale">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>LocationLocaleId</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="AddrElementAttribute1" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AddrElementAttribute2" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AddrElementAttribute3" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AddrElementAttribute4" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AddrElementAttribute5" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Address1" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Address2" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Address3" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Address4" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Building" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="City" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="County" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="FloorNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="LocationId" type="xsd:long" />
      <xsd:element sdoXML:dataType="sdoJava:IntObject" minOccurs="0" name="ObjectVersionNumber" type="xsd:int" />
      <xsd:element minOccurs="0" name="PostalCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PostalPlus4Code" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="State" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="TransliterationLang" type="xsd:string" />
      <xsd:element minOccurs="0" name="Province" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="locationLocale" type="LocationLocale" />
  <xsd:element name="locationLocaleResult" type="LocationLocaleResult" />
</xsd:schema>