DemoSynch - Copy (2)/BAESynch/Service References/FusionPartnerService/PartnerPublicEmail.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://xmlns.oracle.com/apps/partnerMgmt/partnerCenter/" xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/partnerMgmt/partnerCenter/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://ccaa-test.crm.us2.oraclecloud.com:443/partnerCenterCorePublicModel/PartnerService?XSD=/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <xsd:import schemaLocation="https://ccaa-test.crm.us2.oraclecloud.com:443/partnerCenterCorePublicModel/PartnerService?XSD=/xml/sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:import schemaLocation="https://ccaa-test.crm.us2.oraclecloud.com:443/partnerCenterCorePublicModel/PartnerService?XSD=/xml/sdoXML.xsd" namespace="commonj.sdo/xml" />
  <xsd:annotation>
    <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
      <name xmlns="http://xmlns.oracle.com/apps/partnerMgmt/partnerCenter/">Partner E-Mail</name>
      <description xmlns="http://xmlns.oracle.com/apps/partnerMgmt/partnerCenter/">An email address for a contact point.</description>
      <oer:category name="lba" xmlns:oer="http://xmlns.oracle.com/oer">
        <value xmlns="http://xmlns.oracle.com/apps/partnerMgmt/partnerCenter/">PartnerMgmtTop-Partner Management Business Area</value>
        <value xmlns="http://xmlns.oracle.com/apps/partnerMgmt/partnerCenter/">PartnerMgmtTop-Partner Management Business Area :
                    PartnerCenterCore-Partner Center</value>
      </oer:category>
      <oer:attributes xmlns:oer="http://xmlns.oracle.com/oer">
        <oer:attribute description="The key for this contact point." name="ContactPointId" />
        <oer:attribute description="The type for this contact point." name="ContactPointType" />
        <oer:attribute description="The status for this contact point." name="Status" />
        <oer:attribute description="The table an instance of this contact point relates to." name="OwnerTableName" />
        <oer:attribute description="The table an instance of this contact point relates to." name="OwnerTableId" />
        <oer:attribute description="Data from an originating system." name="OrigSystemReference" />
        <oer:attribute description="Information regarding the creation of this contact point." name="CreatedByModule" />
        <oer:attribute description="The purpose of this contact point." name="ContactPointPurpose" />
        <oer:attribute description="Information about the purpose of this contact point." name="PrimaryByPurpose" />
        <oer:attribute description="Information regarding the source of this contact point." name="ActualContentSource" />
        <oer:attribute description="Effective start date." name="StartDate" />
        <oer:attribute description="Effective end date." name="EndDate" />
        <oer:attribute description="Relationship key for this contact point." name="RelationshipId" />
        <oer:attribute description="Indicates how this contact point is used." name="PartyUsageCode" />
        <oer:attribute description="Key information for this contact point." name="ContactPointValue" />
        <oer:attribute description="Information on how to interpret the emai address." name="EmailFormat" />
        <oer:attribute description="The actual email address." name="EmailAddress" />
        <oer:attribute description="Indicates this contact point is the primary point of contact." name="Primary2Flag" />
      </oer:attributes>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="PartnerPublicEmail">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>ContactPointId</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="ContactPointId" type="xsd:long" />
      <xsd:element minOccurs="0" name="ContactPointType" type="xsd:string" />
      <xsd:element minOccurs="0" name="Status" type="xsd:string" />
      <xsd:element minOccurs="0" name="OwnerTableName" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="OwnerTableId" type="xsd:long" />
      <xsd:element minOccurs="0" name="OrigSystemReference" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreatedByModule" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ContactPointPurpose" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrimaryByPurpose" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ActualContentSource" type="xsd:string" />
      <xsd:element minOccurs="0" name="StartDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="EndDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="RelationshipId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="PartyUsageCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ContactPointValue" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="EmailFormat" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="EmailAddress" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Primary2Flag" nillable="true" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="partnerPublicEmail" type="PartnerPublicEmail" />
</xsd:schema>