DemoSynch - Copy (2)/BAESynch/Service References/FusionPartnerService/PartnerAccountResource.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://xmlns.oracle.com/apps/partnerMgmt/partnerCenter/" xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/partnerMgmt/partnerCenter/" sdoJava:package="oracle.apps.partnerMgmt.partnerCenter.publicModel" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://ccaa-test.crm.us2.oraclecloud.com:443/partnerCenterCorePublicModel/PartnerService?XSD=/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <xsd:import schemaLocation="https://ccaa-test.crm.us2.oraclecloud.com:443/partnerCenterCorePublicModel/PartnerService?XSD=/xml/sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:import schemaLocation="https://ccaa-test.crm.us2.oraclecloud.com:443/partnerCenterCorePublicModel/PartnerService?XSD=/xml/sdoXML.xsd" namespace="commonj.sdo/xml" />
  <xsd:annotation>
    <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
      <name xmlns="http://xmlns.oracle.com/apps/partnerMgmt/partnerCenter/">Partner Account Resource</name>
      <description xmlns="http://xmlns.oracle.com/apps/partnerMgmt/partnerCenter/">A person assigned to a partner account team.</description>
      <oer:category name="lba" xmlns:oer="http://xmlns.oracle.com/oer">
        <value xmlns="http://xmlns.oracle.com/apps/partnerMgmt/partnerCenter/">PartnerMgmtTop-Partner Management Business Area</value>
        <value xmlns="http://xmlns.oracle.com/apps/partnerMgmt/partnerCenter/">PartnerMgmtTop-Partner Management Business Area :
                    PartnerCenterCore-Partner Center</value>
      </oer:category>
      <oer:attributes xmlns:oer="http://xmlns.oracle.com/oer">
        <oer:attribute description="Primary Key for the member of the partner account resource team." name="PartnerAccountResourceId" />
        <oer:attribute description="Partner Account Id" name="PartnerAccountId" />
        <oer:attribute description="Resource Id of the Resource" name="ResourceId" />
        <oer:attribute description="PartyId of Partner whose Account Team includes this resource" name="PartnerPartyId" />
        <oer:attribute description="Organization Name of Resource" name="OrganizationName" />
        <oer:attribute description="Role of Resource in Organization" name="OrganizationRole" />
        <oer:attribute description="Territory Name of this resource" name="TerritoryName" />
        <oer:attribute description="Name of the Resource" name="ResourceName" />
        <oer:attribute description="Access level determines the type of access granted to the resource as well as managers of the organizations in the hierarchy." name="AccessLevelCode" />
        <oer:attribute description="How the resource was assigned to the partner account team." name="AssignmentTypeCode" />
        <oer:attribute description="Lookup indicating this resource's role as part of the Resource Team such as 'Integrator','Executive Sponsor','Technical Account Manager' etc." name="MemberFunctionCode" />
        <oer:attribute description="email address of resource" name="EmailAddress" />
        <oer:attribute description="phone number of resource" name="FormattedPhoneNumber" />
        <oer:attribute description="Who column: indicates the date and time of the creation of the row." name="CreatedBy" />
        <oer:attribute description="Who column: indicates the user who created the row." name="CreationDate" />
        <oer:attribute description="Who column: indicates the date and time of the last update of the row." name="LastUpdateDate" />
        <oer:attribute description="Who column: indicates the user who last updated the row." name="LastUpdateLogin" />
        <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row." name="LastUpdatedBy" />
      </oer:attributes>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="PartnerAccountResource">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>PartnerAccountResourceId</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="PartnerAccountResourceId" type="xsd:long" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="PartnerAccountId" type="xsd:long" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="ResourceId" type="xsd:long" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="PartnerPartyId" type="xsd:long" />
      <xsd:element minOccurs="0" name="OrganizationName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OrganizationRole" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="TerritoryName" type="xsd:string" />
      <xsd:element minOccurs="0" name="ResourceName" type="xsd:string" />
      <xsd:element minOccurs="0" default="300" name="AccessLevelCode" type="xsd:string" />
      <xsd:element minOccurs="0" default="MANUAL" name="AssignmentTypeCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="MemberFunctionCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="EmailAddress" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="FormattedPhoneNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PartnerAccountResourceResult">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:MethodResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Value" type="PartnerAccountResource" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="partnerAccountResource" type="PartnerAccountResource" />
  <xsd:element name="partnerAccountResourceResult" type="PartnerAccountResourceResult" />
</xsd:schema>