DemoSynch - Copy (2)/BAESynch/Service References/FusionService/Account.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ns2="http://xmlns.oracle.com/apps/crmCommon/notes/noteService" xmlns:sdoXML="commonj.sdo/xml" xmlns:sdoJava="commonj.sdo/java" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns="http://xmlns.oracle.com/apps/crmCommon/salesParties/accountService/" xmlns:ns1="http://xmlns.oracle.com/apps/crmCommon/salesParties/commonService/" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/crmCommon/salesParties/accountService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://ccaa-test.crm.us2.oraclecloud.com:443/crmCommonSalesParties/AccountService?XSD=/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <xsd:import schemaLocation="https://ccaa-test.crm.us2.oraclecloud.com:443/crmCommonSalesParties/AccountService?XSD=/oracle/apps/crmCommon/salesParties/commonService/PrimaryAddress.xsd" namespace="http://xmlns.oracle.com/apps/crmCommon/salesParties/commonService/" />
  <xsd:import schemaLocation="https://ccaa-test.crm.us2.oraclecloud.com:443/crmCommonSalesParties/AccountService?XSD=/oracle/apps/crmCommon/salesParties/commonService/SalesTeamMember.xsd" namespace="http://xmlns.oracle.com/apps/crmCommon/salesParties/commonService/" />
  <xsd:import schemaLocation="https://ccaa-test.crm.us2.oraclecloud.com:443/crmCommonSalesParties/AccountService?XSD=/oracle/apps/crmCommon/notes/noteService/Note.xsd" namespace="http://xmlns.oracle.com/apps/crmCommon/notes/noteService" />
  <xsd:import schemaLocation="https://ccaa-test.crm.us2.oraclecloud.com:443/crmCommonSalesParties/AccountService?XSD=/xml/sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:import schemaLocation="https://ccaa-test.crm.us2.oraclecloud.com:443/crmCommonSalesParties/AccountService?XSD=/xml/sdoXML.xsd" namespace="commonj.sdo/xml" />
  <xsd:annotation>
    <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
      <name xmlns="http://xmlns.oracle.com/apps/crmCommon/salesParties/accountService/">Sales Cloud Account SDO</name>
      <description xmlns="http://xmlns.oracle.com/apps/crmCommon/salesParties/accountService/">An account for a customer or prospect. This object is an aggregation of primary account profile, and contact information, and references a single primary address.</description>
      <oer:attributes xmlns:oer="http://xmlns.oracle.com/oer">
        <oer:attribute description="The unique identifier of the account." name="PartyId" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The unique alternate identifier for the account party. You can update the value if the profile option HZ_GENERATE_PARTY_NUMBER is set to True. The default value is a concatenation of the value specified in the profile option ZCA_PUID_PREFIX and a unique system generated sequence number." name="PartyNumber" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The name of external source system where the account party is imported from. The values configured in setup task Trading Community Source System." name="SourceSystem" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The unique identifier for the account party from the external source system specified in the attribute SourceSystem." name="SourceSystemReferenceValue" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The name of the account." name="OrganizationName" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The suffix used to generate the attribute PartyUniqueName. The suffix is concatenated to the OrganizationName attribute to generate the PartyUniqueName. The primary address is defaulted as the suffix." name="UniqueNameSuffix" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The unique account name displayed on account related screens. The default value is the concatenation of attributes AccountName and UniqueNameSuffix. If the attribute UniqueNameSuffix is nil, then the AccountName is concatenated with a system generated number." name="PartyUniqueName" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The account type that defines if the account is a sales account or a prospect or any other party type. The accepted values are defined in the lookup type ZCA_ACCOUNT_TYPE. It is defaulted to ZCA_CUSTOMER if no value is provided." name="Type" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The unique identifier of a valid employee resource who owns and manages the sales account." name="OwnerPartyId" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The party number of a valid employee resource who owns and manages the sales account." name="OwnerPartyNumber" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The e-mail address of the employee resource that owns and manages the sales account. The owner is a valid employee resource defined within Sales Cloud." name="OwnerEmailAddress" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Name of Sales Account Owner" name="OwnerName" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The unique identifier of the primary contact of the account." name="PrimaryContactPartyId" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The party number of the primary contact of the account." name="PrimaryContactPartyNumber" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The name of external source system where the primary contact of the account is imported from." name="PrimaryContactSourceSystem" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The unique identifier for the account's primary contact from the external source system specified." name="PrimaryContactSourceSystemReferenceValue" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The name of the account's primary contact." name="PrimaryContactName" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The e-mail address of the account's primary contact." name="PrimaryContactEmail" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The phone number of the account's primary contact." name="PrimaryContactPhone" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Indicates if there is an existing selling or billing relationship with the sales account. If the value is true, then there is an existing relationship with the sales account. The default value is False." name="ExistingCustomerFlag" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The date when the existing customer flag was last updated." name="ExistingCustomerFlagLastUpdateDate" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Indicates if the sales account is a named sales account. If the value is True, then the account is a named account. The default value is False." name="NamedFlag" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The date when the Sales Account Territory Assignment was last run by Assignment Manager." name="LastAssignmentDate" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The date the organization was last enriched." name="LastAssignmentDateTime" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Indicates whether the sales account had the required dimensions to allow assignment manager to assign territories to the sales account. If the value is True, then the sales account has the dimensions. The default value is False." name="AssignmentExceptionFlag" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="A valid user defined status of the sales account." name="SalesProfileStatus" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The industry classification category code type. It is defaulted to the value of profile option MOT_INDUSTRY_CLASS_CATEGORY. Review and update the codes using the Setup and Maintenance work area, Manage Classification Categories task." name="IndustryCodeType" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The Industry classification code. The classification codes are defined for every classification category as specified in IndustryCodeType attribute. Review and update the codes using the Setup and Maintenance work area, Manage Classification Categories task." name="IndustryCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The party Id of the parent account within the hierarchy. To assign a parent account to a sales account, you must provide the parent account's party ID, party number, or source system reference." name="ParentAccountPartyId" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The party number of the parent account within the hierarchy." name="ParentAccountPartyNumber" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The source system of the parent account within the hierarchy." name="ParentAccountSourceSystem" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The source system reference of the parent account within the hierarchy." name="ParentAccountSourceSystemReferenceValue" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The name of the parent account within the hierarchy." name="ParentAccountName" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The year that the organization started it business operations." name="YearEstablished" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The year when current ownership gained control of the organization." name="ControlYear" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The year that the business was formally incorporated." name="YearIncorporated" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The corporate stock symbol of the organization as listed in stock exchanges." name="StockSymbol" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The last month of a fiscal year for the organization. The list of accepted values is defined in the lookup type MONTH." name="FiscalYearendMonth" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The estimated revenues that can be earned by the organization during its current fiscal year." name="CurrentFiscalYearPotentialRevenueAmount" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The organization's default currency code. A list of valid currency codes are defined during the application setup." name="PreferredFunctionalCurrency" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The fiscal year used as the source for financial information." name="AnalysisFiscalYear" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The estimated revenue of the organization to be earned during its next fiscal year." name="NextFiscalYearPotentialRevenueAmount" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The total amount of payment collected from the organization." name="TotalPaymentAmount" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The taxpayer identification number that is often a unique identifier of the organization, such as income taxpayer Id in USA and fiscal code or NIF in Europe." name="TaxpayerIdentificationNumber" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The certification level the organization. A list of valid certification level codes is defined using the lookup HZ_PARTY_CERT_LEVEL. Review the Review and update the codes using the Setup and Maintenance work area, Manage Trading Community Common Lookups task." name="CertificationLevel" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The reason for the contact's current certification level assignment. A list of valid certification reason codes are defined using the lookup HZ_PARTY_CERT_REASON. Review and update the codes using the Setup and Maintenance work area, Manage Trading Community Common Lookups task." name="CertificationReasonCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The DUNS Number in freeform text format. The value not restricted to nine digit number." name="DUNSNumber" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The Dun &amp; Bradstreet credit rating." name="DUNSCreditRating" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The DUNS Number of the organization or the parent entity that owns a majority stake of the organization's capital stock. The parent entity can be a subsidiary of another corporation. If the parent also has branches, then it is regarded as headquarters as well as a parent company. A headquarters is a business establishment that has branches or divisions reporting to it, and is financially responsible for those branches or divisions. If the headquarters has more than 50% of capital stock owned by another corporation, it also will be a subsidiary. If it owns more than 50% of capital stock of another corporation, then it is also a parent." name="ParentDUNSNumber" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The DUNS Number for the Domestic Ultimate. A Domestic Ultimate is the highest member of the same country in the organization's hierarchy. An organization can be its own Domestic Ultimate." name="DomesticUltimateDUNSNumber" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The DUNS Number for the Global Ultimate. A Global Ultimate is the highest member in the organization's hierarchy. An organization can be its own Global Ultimate." name="GlobalUltimateDUNSNumber" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The name of the organization's chief executive officer." name="CEOName" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The formal title of the chief executive officer." name="CEOTitle" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Indicates whether the organization is publicaly or privately owned. If the value is Y, then the organization is a privately owned organization. The default value is N." name="PublicPrivateOwnershipFlag" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Indicates whether the organization is an importer. If the value is Y, then the organization is an importer. The default value is N." name="ImportIndicator" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Indicates whether the organization is an exporter. If the value is Y, then the organization is an exporter. The default value is N." name="ExportIndicator" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Indicates whether the organization is considered as a small business. If the value is Y, then the organization is considered as a small business. The default value is N." name="SmallBusinessIndicator" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Indicates whether the organization is primarily owned by women. If the value is Y, then the organization is primarily owned by women. The default value is N." name="WomanOwnedIndicator" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Indicates whether organization is a US federal agency supported by the General Services Administration (GSA). If the value is Y, then the organization is supported by GSA. The default value is N." name="GeneralServicesAdministrationFlag" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Indicates whether the organization is primarily owned by ethinic or racial minorities. If the value is Y, then the organization is owned by ethnic or racial minorities. company is primarily owned by ethnic or racial minorities. The default value is N." name="MinorityOwnedIndicator" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The type of minority-owned firm." name="MinorityOwnedType" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Indicates if this contact owns or rents his or her residence. A list of valid values for rent, own, and lease are defined in the lookup OWN_RENT_IND. Review and update the codes using the Setup and Maintenance work area, Manage Standard Lookups task." name="RentOrOwnIndicator" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Indicates whether the organization operates in an area with a labor surplus. If the value is Y, then the organization operates in an area with a labor surplus. The default value is N." name="LaborSurplusIndicator" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Indicates whether the organization is out of business. If the value is Y, then the organization is out of business. The default value is N." name="OutOfBusinessIndicator" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The status of this site, such as HQ, a branch, or a single location. A list of accepted values are defined in the lookup type HQ_BRANCH_IND." name="HQBranchIndicator" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Indicates whether the organization is a parent or subsidary." name="ParentOrSubsidiaryIndicator" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Indicates whether the organization is considered disadvantaged by the US governement under Title 8A. If the value is Yes, the organization is considered disadvantaged under Title 8A. The default value is No." name="DisadvantageIndicator" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The qualifier to calculate the estimated number of employees at the primary address. A list of valid qualifier codes are defined using the lookup EMP_AT_PRIMARY_ADR_EST_IND. Review and update the codes using the Setup and Maintenance work area, Manage Trading Community Common Lookups task." name="EmployeesAtPrimaryAddress" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The estimated minimum number of employees at the primary address. A list of accepted values are defined in the lookup type EMP_AT_PRIMARY_ADR_MIN_IND. Review and update the values using the Setup and Maintenance work area, Manage Trading Community Common Lookups task." name="EmployeesAtPrimaryAddressEstimation" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The qualifier to qualify calculation of employees at the primary address as minimum." name="EmployeesAtPrimaryAddressMinimum" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The number of employees at the primary address in text format." name="EmployeesAtPrimaryAddressText" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The total number of employees in the organization." name="EmployeesTotal" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Indicates if the employee total is estimated. The accepted values are defined in the lookup type TOTAL_EMP_EST_IND." name="TotalEmployeesEstimatedIndicator" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Indicates if subsidiaries are included in the calculation of total employees. The accepted values are defined in the lookup type TOTAL_EMPLOYEES_INDICATOR." name="TotalEmployeesIndicator" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Indicates if the number is a minimum, maximum, or average number of total employees. The accepted values are defined in the lookup type TOTAL_EMP_MIN_IND." name="TotalEmployeesMinimumIndicator" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The total number of employees in text format." name="TotalEmployeesText" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The size of the organization based on its revenue, number of employees, and so on. .The accepted values are defined in the lookup type HZ_ORGANIZATION_SIZE." name="OrganizationSize" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="User-defined organization type value such as region, division, and department." name="OrganizationType" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The title of the highest ranking person in the organization." name="PrincipalTitle" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The name of the highest ranking person in the organization." name="PrincipalName" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The legal structure of the organization such as partnership, corporation, and so on." name="LegalStatus" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The class of business to which the account belongs, such as local, national, or international." name="BusinessScope" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Indicates the type of registration, such as nonprofit. The accepted values are defined in the lookup type REGISTRATION_TYPE." name="RegistrationType" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The corporate charter of organization in user-defined text format." name="MissionStatement" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The taxation classification for corporation entities such as Chapter S in the US." name="CorporationClass" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The user-defined description of growth strategy." name="GrowthStrategyDescription" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The U.S. Congressional district code for the account." name="CongressionalDistrictCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The type of business activities performed at this site." name="LineOfBusiness" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The home country of the organization." name="HomeCountry" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Indicates that there is an organization that is similarly named." name="DoNotConfuseWith" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The local activity classification code." name="LocalActivityCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The local activity classification code type identifier." name="LocalActivityCodeType" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The primary identifier assigned to a businesses by a government agency such as Chamber of Commerce, or other authority. It is often used by countries other than USA." name="LocalBusinessIdentifier" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The lookup that represents most common business identifier in a country such as Chamber of Commerce Number in Italy, Government Registration Number in Taiwan. A list of accepted values are defined in the lookup type LOCAL_BUS_IDEN_TYPE." name="LocalBusinessIdentifierType" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Location of account - optional part of User Primary Key." name="SiebelLocation" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The corporate charter of the organization." name="Comments" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The Dun &amp; Bradstreet business information report." name="BusinessReport" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The currency code. This attribute is used by CRM Extensibility framework. A list of valid values are defined in the lookup ZCA_COMMON_CORPORATE_CURRENCY. Review and update the profile option using the Setup and Maintenance work area, Manage Currency Profile Options task." name="CurrencyCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The currency conversion rate type. This attribute is used by CRM Extensibility framework. A list of valid values are defined in the lookup ZCA_COMMON_RATE_TYPE. Review and update the profile option using the Setup and Maintenance work area, Manage Currency Profile Options task." name="CurcyConvRateType" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The corporate currency code used by the CRM Extensibility framework. It is defaulted to the value set in the profile option ZCA_COMMON_CORPORATE_CURRENCY." name="CorpCurrencyCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The enrichment status of the contact record from Data-as-a-Service. A list of valid values are defined in the lookup DATA_CLOUD_STATUS. Review and update the codes using the Setup and Maintenance work area, Manage Standard Lookups task." name="DataCloudStatus" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The date when the record was last enriched." name="LastEnrichmentDate" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Indicates the status of the account. This is an internally-used column and the values are defined in the lookup HZ_STATUS. Review and update the codes using the Setup and Maintenance work area, Manage Trading Community Common Lookups task." name="PartyStatus" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The module that created the account record." name="CreatedByModule" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The user who created the account record." name="CreatedBy" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The date when the record was created." name="CreationDate" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The date when the record was last updated." name="LastUpdateDate" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The login of the user who last updated the record." name="LastUpdateLogin" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The user who last updated the record." name="LastUpdatedBy" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The preferred contact method of the organization. The accepted values are defined in the lookup type HZ_PREFERRED_CONTACT_METHOD. Review and update the codes using the Setup and Maintenance work area, Manage Trading Community Common Lookups task." name="PreferredContactMethod" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The international country code for a telephone number, such as 33 for France." name="PhoneCountryCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The area code for the telephone number." name="PhoneAreaCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The phone number of the organization in the local format. The number should not include area code, country code, or extension." name="PhoneNumber" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The extension to the phone number of the organization." name="PhoneExtension" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The formatted phone number of the organization." name="FormattedPhoneNumber" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The international country code for a fax number, such as 33 for France." name="FaxCountryCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The area code for the fax number." name="FaxAreaCode" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The fax number of the organization in the local format. The number should not include area code, country code, or extension." name="FaxNumber" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The extension to the fax number of the organization." name="FaxExtension" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The formatted fax number of the organization." name="FormattedFaxNumber" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The preferred format for e-mail addressed to this organization, such as HTML or ASCII." name="EmailFormat" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The e-mail address of the contact point for the organization." name="EmailAddress" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The uniform resource locator or a website containing information about the organization." name="URL" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The record set to display search results." name="RecordSet" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Indicator to determine if an account is a favorite." name="FavoriteAccountFlag" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="This flag controls if the user has access to update the record" name="UpdateFlag" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="This flag controls if the user has access to delete the record" name="DeleteFlag" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The primary address of the account." name="PrimaryAddress" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="The sales team member associated with the account." name="SalesTeamMember" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Note about the account." name="Note" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="CREATED_BY_MIGRATION" name="OrganizationDEO_RenewalWithCompetitor_c" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="CREATED_BY_MIGRATION" name="OrganizationDEO_CurrentProvider_c" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="CREATED_BY_MIGRATION" name="OrganizationDEO_WorkersCompRenewal_c" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="CREATED_BY_MIGRATION" name="OrganizationDEO_CurrentMedicalCarrier_c" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="CREATED_BY_MIGRATION" name="OrganizationDEO_MedicalRenewal_c" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="CREATED_BY_MIGRATION" name="OrganizationDEO_AccountIndustry_c" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="CREATED_BY_MIGRATION" name="OrganizationDEO_CapitalMarketsInvolvement_c" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="CREATED_BY_MIGRATION" name="OrganizationDEO_Priority_c" xmlns:oer="http://xmlns.oracle.com/oer" />
        <oer:attribute description="Previous Sales Office" name="OrganizationDEO_SalesOffice_c" xmlns:oer="http://xmlns.oracle.com/oer" />
      </oer:attributes>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="AccountResult">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:MethodResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Value" type="Account" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Account">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>PartyId</attribute>
          <attribute>OrganizationProfileId</attribute>
          <attribute>SalesProfileId</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="PartyId" type="xsd:long" />
      <xsd:element minOccurs="0" name="PartyNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="SourceSystem" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="SourceSystemReferenceValue" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OrganizationName" type="xsd:string" />
      <xsd:element minOccurs="0" name="UniqueNameSuffix" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PartyUniqueName" type="xsd:string" />
      <xsd:element minOccurs="0" name="Type" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OwnerPartyId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="OwnerPartyNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="OwnerEmailAddress" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OwnerName" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrimaryContactPartyId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="PrimaryContactPartyNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrimaryContactSourceSystem" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrimaryContactSourceSystemReferenceValue" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrimaryContactName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrimaryContactEmail" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrimaryContactPhone" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" default="false" name="ExistingCustomerFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="ExistingCustomerFlagLastUpdateDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" default="false" name="NamedFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="LastAssignmentDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="LastAssignmentDateTime" nillable="true" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" default="false" name="AssignmentExceptionFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="SalesProfileStatus" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="IndustryCodeType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="IndustryCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ParentAccountPartyId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="ParentAccountPartyNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ParentAccountSourceSystem" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ParentAccountSourceSystemReferenceValue" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ParentAccountName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="YearEstablished" nillable="true" type="xsd:int" />
      <xsd:element minOccurs="0" name="ControlYear" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="YearIncorporated" nillable="true" type="xsd:int" />
      <xsd:element minOccurs="0" name="StockSymbol" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="FiscalYearendMonth" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CurrentFiscalYearPotentialRevenueAmount" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="PreferredFunctionalCurrency" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AnalysisFiscalYear" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="NextFiscalYearPotentialRevenueAmount" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="TotalPaymentAmount" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="TaxpayerIdentificationNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CertificationLevel" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CertificationReasonCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="DUNSNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="DUNSCreditRating" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ParentDUNSNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="DomesticUltimateDUNSNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="GlobalUltimateDUNSNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CEOName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CEOTitle" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" default="false" name="PublicPrivateOwnershipFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="ImportIndicator" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ExportIndicator" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="SmallBusinessIndicator" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="WomanOwnedIndicator" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" default="false" name="GeneralServicesAdministrationFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="MinorityOwnedIndicator" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="MinorityOwnedType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="RentOrOwnIndicator" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LaborSurplusIndicator" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OutOfBusinessIndicator" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="HQBranchIndicator" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ParentOrSubsidiaryIndicator" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="DisadvantageIndicator" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="EmployeesAtPrimaryAddress" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="EmployeesAtPrimaryAddressEstimation" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="EmployeesAtPrimaryAddressMinimum" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="EmployeesAtPrimaryAddressText" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="EmployeesTotal" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="TotalEmployeesEstimatedIndicator" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="TotalEmployeesIndicator" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="TotalEmployeesMinimumIndicator" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="TotalEmployeesText" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OrganizationSize" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OrganizationType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrincipalTitle" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrincipalName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LegalStatus" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="BusinessScope" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="RegistrationType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="MissionStatement" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CorporationClass" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="GrowthStrategyDescription" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CongressionalDistrictCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LineOfBusiness" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="HomeCountry" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="DoNotConfuseWith" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LocalActivityCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LocalActivityCodeType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LocalBusinessIdentifier" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LocalBusinessIdentifierType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="SiebelLocation" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Comments" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="BusinessReport" nillable="true" type="ns0:base64Binary-DataHandler" />
      <xsd:element minOccurs="0" name="CurrencyCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CurcyConvRateType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CorpCurrencyCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="DataCloudStatus" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastEnrichmentDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="PartyStatus" type="xsd:string" />
      <xsd:element minOccurs="0" default="HZ_WS" name="CreatedByModule" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="PreferredContactMethod" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PhoneCountryCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PhoneAreaCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PhoneNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PhoneExtension" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="FormattedPhoneNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="FaxCountryCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="FaxAreaCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="FaxNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="FaxExtension" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="FormattedFaxNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="EmailFormat" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="EmailAddress" type="xsd:string" />
      <xsd:element minOccurs="0" name="URL" type="xsd:string" />
      <xsd:element minOccurs="0" name="RecordSet" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" default="false" name="FavoriteAccountFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="UpdateFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="DeleteFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="PrimaryAddress" type="ns1:PrimaryAddress" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="SalesTeamMember" type="ns1:SalesTeamMember" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Note" type="ns2:Note" />
      <xsd:element minOccurs="0" name="OrganizationDEO_RenewalWithCompetitor_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OrganizationDEO_CurrentProvider_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OrganizationDEO_WorkersCompRenewal_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OrganizationDEO_CurrentMedicalCarrier_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OrganizationDEO_MedicalRenewal_c" nillable="true" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:BooleanObject" minOccurs="0" name="OrganizationDEO_Protected_c" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="OrganizationDEO_InsperityPEORenewalDate_c" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="OrganizationDEO_AccountIndustry_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OrganizationDEO_CreditScore_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OrganizationDEO_SalesVolume_c" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="OrganizationDEO_FEIN_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OrganizationDEO_SalesgenieID_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OrganizationDEO_SICCodeDescription_c" nillable="true" type="ns0:base64Binary-DataHandler" />
      <xsd:element minOccurs="0" name="OrganizationDEO_PrimaryNAICSCode_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OrganizationDEO_PrimaryNAICSCodeDescription_c" nillable="true" type="ns0:base64Binary-DataHandler" />
      <xsd:element minOccurs="0" name="OrganizationDEO_MissionStatement_c" nillable="true" type="ns0:base64Binary-DataHandler" />
      <xsd:element minOccurs="0" name="OrganizationDEO_YearEstablished_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OrganizationDEO_ClientsDemographics_c" nillable="true" type="ns0:base64Binary-DataHandler" />
      <xsd:element minOccurs="0" name="OrganizationDEO_PrimaryProductAndorService_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OrganizationDEO_CompanyResearchNewsAnnouncemen_c" nillable="true" type="ns0:base64Binary-DataHandler" />
      <xsd:element minOccurs="0" name="OrganizationDEO_AffiliatedWithAnyOtherCompany_c" nillable="true" type="ns0:base64Binary-DataHandler" />
      <xsd:element minOccurs="0" name="OrganizationDEO_IndustryResearchNewsChallenges_c" nillable="true" type="ns0:base64Binary-DataHandler" />
      <xsd:element minOccurs="0" name="OrganizationDEO_WhereIsTheCompanyHeadquartersL_c" nillable="true" type="ns0:base64Binary-DataHandler" />
      <xsd:element minOccurs="0" name="OrganizationDEO_ProspectsCompetitors_c" nillable="true" type="ns0:base64Binary-DataHandler" />
      <xsd:element minOccurs="0" name="OrganizationDEO_ExternalCreatedDate_c" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="OrganizationDEO_CapitalMarketsInvolvement_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OrganizationDEO_EstimatedPayrollAndBenefitsExp_c" nillable="true" type="ns0:AmountType" />
      <xsd:element sdoXML:dataType="sdoJava:BooleanObject" minOccurs="0" name="OrganizationDEO_DoNotContact_c" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="OrganizationDEO_SalesNumber_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OrganizationDEO_CurrentAccountingSystem_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OrganizationDEO_SDR_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OrganizationDEO_Notes_c" nillable="true" type="ns0:base64Binary-DataHandler" />
      <xsd:element minOccurs="0" name="OrganizationDEO_ExternalUniqueID_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OrganizationDEO_Philanthropy_c" nillable="true" type="ns0:base64Binary-DataHandler" />
      <xsd:element minOccurs="0" name="OrganizationDEO_Priority_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OrganizationDEO_CompanyDBA_c" nillable="true" type="ns0:base64Binary-DataHandler" />
      <xsd:element minOccurs="0" name="OrganizationDEO_CompanySizeNumberOfEmployees_c" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="OrganizationDEO_SalesOffice_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OrganizationDEO_Campaign_Id_c" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="OrganizationDEO_Campaign_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OrganizationDEO_PrimaryOwnerId_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OrganizationDEO_AccountType_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OrganizationDEO_ProductInterest_c" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OrganizationDEO_ChannelPartnerDiscounts_c" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="accountResult" type="AccountResult" />
  <xsd:element name="account" type="Account" />
</xsd:schema>