DemoSynch - Copy (2)/BAESynch/Service References/FusionService/PrimaryAddress.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://xmlns.oracle.com/apps/crmCommon/salesParties/commonService/" xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/crmCommon/salesParties/commonService/" sdoJava:package="oracle.apps.crmCommon.salesParties.commonService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://ccaa-test.crm.us2.oraclecloud.com:443/crmCommonSalesParties/AccountService?XSD=/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <xsd:import schemaLocation="https://ccaa-test.crm.us2.oraclecloud.com:443/crmCommonSalesParties/AccountService?XSD=/xml/sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:import schemaLocation="https://ccaa-test.crm.us2.oraclecloud.com:443/crmCommonSalesParties/AccountService?XSD=/xml/sdoXML.xsd" namespace="commonj.sdo/xml" />
  <xsd:annotation>
    <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
      <name xmlns="http://xmlns.oracle.com/apps/crmCommon/salesParties/commonService/">Sales Cloud Primary Address SDO</name>
      <description xmlns="http://xmlns.oracle.com/apps/crmCommon/salesParties/commonService/">An object that includes attributes used to store values while
                creating or updating a primary address. A primary address is the
                default communication address of an entity irrespective of the
                address purpose</description>
      <oer:attributes xmlns:oer="http://xmlns.oracle.com/oer">
        <oer:attribute description="First line for address" name="AddressId" />
        <oer:attribute description="Alternate unique identifier for the address. One of AddressId, AddressNumber or SourceSystem and SourceSystemReferenceValue keys is used to identify the address record during update. If not specified, then it is automatically generated. Prefix defined as in profile option ZCA_PUID_PREFIX concatenated with an internally generated unique sequence number." name="AddressNumber" />
        <oer:attribute description="Name of external source system for the address denoted by a code, which is defined by an aministrator as part of system setup. The value for this attribute should be predefined in the lookup type HZ_ORIG_SYSTEMS_VL using the setup task Manage Trading Community Source Systems. SourceSystem and SourceSystemReference combination is unique and is used as the foreign key to identify an address." name="SourceSystem" />
        <oer:attribute description="The unique identifier for the address from the external source. SourceSystem and SourceSystemReference combination is unique and is used as the foreign key to identify an address." name="SourceSystemReferenceValue" />
        <oer:attribute description="Unique identifier for this location" name="LocationId" />
        <oer:attribute description="Unique Identifier of the account, contact or household to which the address is associated. One of PartyId, PartyNumber or PartySourceSystem and PartySourceSystemReferenceValue keys is required to uniquely identify the account, contact or household record with which the address is associated." name="PartyId" />
        <oer:attribute description="Additional address element to support flexible address format" name="AddressElementAttribute1" />
        <oer:attribute description="Additional address element to support flexible address format" name="AddressElementAttribute2" />
        <oer:attribute description="Additional address element to support flexible address format" name="AddressElementAttribute3" />
        <oer:attribute description="Additional address element to support flexible address format" name="AddressElementAttribute4" />
        <oer:attribute description="Additional address element to support flexible address format" name="AddressElementAttribute5" />
        <oer:attribute description="Second line for address" name="AddressLine1" />
        <oer:attribute description="Third line for address" name="AddressLine2" />
        <oer:attribute description="Fourth line for address" name="AddressLine3" />
        <oer:attribute description="Address internal unique identifier that is internally generated during create. One of AddressId, AddressNumber or SourceSystem and SourceSystemReferenceValue keys is used to identify the address record during update." name="AddressLine4" />
        <oer:attribute description="Specific building name or number at a given address" name="Building" />
        <oer:attribute description="City element of Address." name="City" />
        <oer:attribute description="Country code of the address." name="Country" />
        <oer:attribute description="County element of Address." name="County" />
        <oer:attribute description="Specific floor number at a given address or in a particular building when building number is provided" name="FloorNumber" />
        <oer:attribute description="Postal code as defined by the formal countrywide postal system" name="PostalCode" />
        <oer:attribute description="Four digit extension to the United States Postal ZIP code." name="PostalPlus4Code" />
        <oer:attribute description="Province element of Address." name="Province" />
        <oer:attribute description="State element of Address." name="State" />
        <oer:attribute description="Used to store Latitude Information for the Location for spatial proximity and containment purposes" name="Latitude" />
        <oer:attribute description="Used to store Longitude Information for the Location for spatial proximity and containment purposes" name="Longitude" />
        <oer:attribute description="A user-defined code to indicate a mail drop point within their organization" name="Mailstop" />
        <oer:attribute description="Phonetic or Kana representation of the Kanji address lines (used in Japan)" name="AddressLinesPhonetic" />
        <oer:attribute description="User comments for the address" name="Comments" />
        <oer:attribute description="An extensive description of the location" name="Description" />
        <oer:attribute description="Date the address was last validated." name="DateValidated" />
        <oer:attribute description="Indicates the building type. A list of valid values is defined in the lookup HZ_HOUSE_TYPE. Review and update the codes using the Setup and Maintenance work area, Manage Standard Lookups task." name="HouseType" />
        <oer:attribute description="Directions to the location" name="LocationDirections" />
        <oer:attribute description="Indicates if the location was validated. Y for validated, N for unvalidated. The value is internally set by system during address cleansing." name="ValidatedFlag" />
        <oer:attribute description="Standardized status code describing the results of the validation" name="ValidationStatusCode" />
        <oer:attribute description="Formatted address information" name="FormattedAddress" />
        <oer:attribute description="Formatted multiple line address information" name="FormattedMultiLineAddress" />
        <oer:attribute description="Who column that indicates the user who created the record." name="CreatedBy" />
        <oer:attribute description="Who column that indicates the date and time of the creation of the record." name="CreationDate" />
        <oer:attribute description="Who column that indicates the date and time of the last update of the record." name="LastUpdateDate" />
        <oer:attribute description="Who column that indicates the session login associated to the user who last updated the record." name="LastUpdateLogin" />
        <oer:attribute description="Who column that indicates the user who last updated the record." name="LastUpdatedBy" />
        <oer:attribute description="Indicates if the primary address is to be deleted. Valid values are Y or N. Mention Y for delete, considered N by default" name="DeleteFlag" />
        <oer:attribute description="Corporate currency code associated with the addresses. This attribute is used by CRM Extensibility framework The value of the profile option ZCA_COMMON_CORPORATE_CURRENCY is the default corporate currency value. Review and update the profile option using the Setup and Maintenance work area, Manage Profile Options task." name="CorpCurrencyCode" />
        <oer:attribute description="Currency conversion rate type associated with the address. This attribute is used by CRM Extensibility framework. A list of valid values are defined in the lookup ZCA_COMMON_RATE_TYPE. Review and update the profile option using the Setup and Maintenance work area, Manage Currency Profile Options task." name="CurcyConvRateType" />
        <oer:attribute description="Currency Code related to the address. This attribute is used by CRM Extensibility framework. A list of valid values are defined in the lookup ZCA_COMMON_CORPORATE_CURRENCY. Review and update the profile option using the Setup and Maintenance work area, Manage Currency Profile Options task." name="CurrencyCode" />
      </oer:attributes>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="PrimaryAddress">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>AddressId</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="AddressId" type="xsd:long" />
      <xsd:element minOccurs="0" name="AddressNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="SourceSystem" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="SourceSystemReferenceValue" nillable="true" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="LocationId" type="xsd:long" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="PartyId" type="xsd:long" />
      <xsd:element minOccurs="0" name="AddressElementAttribute1" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AddressElementAttribute2" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AddressElementAttribute3" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AddressElementAttribute4" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AddressElementAttribute5" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AddressLine1" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AddressLine2" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AddressLine3" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AddressLine4" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Building" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="City" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Country" type="xsd:string" />
      <xsd:element minOccurs="0" name="County" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="FloorNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PostalCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PostalPlus4Code" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Province" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="State" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Latitude" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="Longitude" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="Mailstop" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AddressLinesPhonetic" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Comments" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Description" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="DateValidated" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="HouseType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LocationDirections" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ValidatedFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="ValidationStatusCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="FormattedAddress" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="FormattedMultiLineAddress" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="DeleteFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="CorpCurrencyCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CurcyConvRateType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CurrencyCode" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="primaryAddress" type="PrimaryAddress" />
</xsd:schema>