DemoSynch/BAESynch/Service References/FusionPartnerService/PartnerPublicContact.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://xmlns.oracle.com/apps/partnerMgmt/partnerCenter/" xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/partnerMgmt/partnerCenter/" sdoJava:package="oracle.apps.partnerMgmt.partnerCenter.publicModel" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://ccaa-test.crm.us2.oraclecloud.com:443/partnerCenterCorePublicModel/PartnerService?XSD=/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <xsd:import schemaLocation="https://ccaa-test.crm.us2.oraclecloud.com:443/partnerCenterCorePublicModel/PartnerService?XSD=/xml/sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:import schemaLocation="https://ccaa-test.crm.us2.oraclecloud.com:443/partnerCenterCorePublicModel/PartnerService?XSD=/xml/sdoXML.xsd" namespace="commonj.sdo/xml" />
  <xsd:annotation>
    <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
      <name xmlns="http://xmlns.oracle.com/apps/partnerMgmt/partnerCenter/">Partner Public Contact</name>
      <description xmlns="http://xmlns.oracle.com/apps/partnerMgmt/partnerCenter/">Point of contact used for the public profile.</description>
      <oer:category name="lba" xmlns:oer="http://xmlns.oracle.com/oer">
        <value xmlns="http://xmlns.oracle.com/apps/partnerMgmt/partnerCenter/">PartnerMgmtTop-Partner Management Business Area</value>
        <value xmlns="http://xmlns.oracle.com/apps/partnerMgmt/partnerCenter/">PartnerMgmtTop-Partner Management Business Area :
                    PartnerCenterCore-Partner Center</value>
      </oer:category>
      <oer:attributes xmlns:oer="http://xmlns.oracle.com/oer">
        <oer:attribute description="Party identifier" name="PartyId" />
        <oer:attribute description="Unique identification number for this party" name="PartyNumber" />
        <oer:attribute description="Name of this party" name="PartyName" />
        <oer:attribute description="The party type can only be Person, Organization, Group." name="PartyType" />
        <oer:attribute description="Customer identifier from foreign system. May not be unique." name="OrigSystemReference" />
        <oer:attribute description="Standard Industry Classification (SIC) code" name="SICCode" />
        <oer:attribute description="Status of this site. Identifies if the location is the headquarters, a branch, or a single location." name="HQBranchInd" />
        <oer:attribute description="Taxpayer identification number, often unique identifier of person or organization. Can be SSN or income taxpayer ID in US, fiscal code or NIF in Europe" name="JgzzFiscalCode" />
        <oer:attribute description="Salutary introduction, such as Mr. or Herr" name="PersonPreNameAdjunct" />
        <oer:attribute description="First name of the person" name="PersonFirstName" />
        <oer:attribute description="Middle name of the person" name="PersonMiddleName" />
        <oer:attribute description="Last or surname of the person" name="PersonLastName" />
        <oer:attribute description="Indicates the place in a family structure. For example, in Tom Jones III, the &quot;III&quot; is the suffix." name="PersonNameSuffix" />
        <oer:attribute description="A professional or family title. For example, Don or The Right Honorable." name="PersonTitle" />
        <oer:attribute description="Academic title that is part of a person's name, such as Dr. John Smith." name="PersonAcademicTitle" />
        <oer:attribute description="Previous last or surname of the person" name="PersonPreviousLastName" />
        <oer:attribute description="Lookup for group type" name="GroupType" />
        <oer:attribute description="The country listed in the TERRITORY_CODE column of the FND_TERRITORY table. for the Identifying address." name="Country" />
        <oer:attribute description="First line of the Identifying address" name="Address1" />
        <oer:attribute description="Second line of the Identifying address" name="Address2" />
        <oer:attribute description="Third line of the Identifying address" name="Address3" />
        <oer:attribute description="Fourth line of the Identifying address" name="Address4" />
        <oer:attribute description="City of the Identifying address" name="City" />
        <oer:attribute description="Postal Code of the Identifying address" name="PostalCode" />
        <oer:attribute description="State of the Identifying address" name="State" />
        <oer:attribute description="Province of the Identifying address" name="Province" />
        <oer:attribute description="Party status flag." name="Status1" />
        <oer:attribute description="County of the Identifying address" name="County" />
        <oer:attribute description="Version of Standard Industry Classification (SIC) code" name="SICCodeType" />
        <oer:attribute description="Uniform resource locator" name="URL" />
        <oer:attribute description="E-mail address" name="EmailAddress" />
        <oer:attribute description="Fiscal year that financial information is based on" name="AnalysisFy" />
        <oer:attribute description="Month in which fiscal year ends for organization" name="FiscalYearendMonth" />
        <oer:attribute description="Total number of employees" name="EmployeesTotal" />
        <oer:attribute description="Organization's potential revenue this fiscal year" name="CurrencyFyPotentialRevenue" />
        <oer:attribute description="Organization's potential revenue for next fiscal year" name="NextFyPotentialRevenue" />
        <oer:attribute description="Year that the organization began doing business" name="YearEstablished" />
        <oer:attribute description="Corporate charter of organization" name="MissionStatement" />
        <oer:attribute description="Standard name for a language" name="LanguageName" />
        <oer:attribute description="User-definable category. Lookup type is CUSTOMER_CATEGORY" name="CategoryCode" />
        <oer:attribute description="Phrase used to address a party in any correspondence." name="Salutation" />
        <oer:attribute description="DUNS_NUMBER in VARCHAR format. Column value not restricted to nine digit DUNS Number." name="DUNSNumber" />
        <oer:attribute description="TCA Who column" name="CreatedByModule1" />
        <oer:attribute description="Certification level an organization party. HZ_PARTY_CERT_LEVEL lookup type" name="CertificationLevel" />
        <oer:attribute description="Reason for organization party's current certification level assignment. HZ_PARTY_CERT_REASON lookup type" name="CertReasonCode" />
        <oer:attribute description="Key to the primary contact point." name="PrimaryPhoneContactPTId" />
        <oer:attribute description="Contact point type, such as business or personal" name="PrimaryPhonePurpose" />
        <oer:attribute description="Lookup code for the type of phone line. For example, general, fax, inbound or outbound" name="PrimaryPhoneLineType" />
        <oer:attribute description="International country code for a telephone number. For example, 33 for France" name="PrimaryPhoneCountryCode" />
        <oer:attribute description="The area code within a country code" name="PrimaryPhoneAreaCode" />
        <oer:attribute description="A telephone number formatted in local format. The number should not include country code, area code, or extension" name="PrimaryPhoneNumber" />
        <oer:attribute description="Additional number addressed after initial connection to an internal telephone system" name="PrimaryPhoneExtension" />
        <oer:attribute description="How a person or organization prefers to be contacted. Validated against lookup HZ_PREFERRED_CONTACT_METHOD." name="PreferredContactMethod" />
        <oer:attribute description="Home Country of the organization if the partyis an organization" name="HomeCountry" />
        <oer:attribute description="Foreign Key to HZ_ADDTNL_PARTY_NAMES.PARTY_NAME_ID. If not NULL contains the ID of the overall Preferred Name for the Party. If NULL the Profile Name (i.e. the name contained in the profile) will be used as overall Preferred name. By default the value is NULL" name="PreferredNameId" />
        <oer:attribute description="Denormalization of the PARTY_NAME field in the HZ_ADDTNL_PARTY_NAMES row identified by PREFERRED_NAME_ID." name="PreferredName" />
        <oer:attribute description="Used to capture the Last name prefix (e.g. 'fon', 'van', etc.) for a person. It is used in the same way the new field PERSON_LAST_NAME_PREFIX in HZ_PERSON_PROFILES is used. Corresponds to the field Last Name Prefix in HL7." name="PersonLastNamePrefix" />
        <oer:attribute description="Used to capture the second last name for a person. In some cultures it is not uncommon to have double last name. It is used in the same way the new field PERSON_SECOND_LAST_NAME in HZ_PERSON_PROFILES is used." name="PersonSecondLastName" />
        <oer:attribute description="Person PARTY_ID of a preferred contact for a given party. There should be a valid relationship." name="PreferredContactPersonId" />
        <oer:attribute description="One column to store the FSIO related trading partner codes. This column will store alpha numeric values. This column will also take care of the &quot;Fed vs Non-Fed&quot; attribute requirement." name="TradingPartnerIdentifier" />
        <oer:attribute description="Unique identifier of the party site of the identifying address" name="IdenAddrPartySiteId" />
        <oer:attribute description="Unique identifier of the location of the identifying address" name="IdenAddrLocationId" />
        <oer:attribute description="Key to primary email contact point." name="PrimaryEmailContactPTId" />
        <oer:attribute description="Key to the primary url contact point." name="PrimaryURLContactPTId" />
        <oer:attribute description="Denormalization of the DATE_OF_BIRTH in HZ_PERSON_PROFILES" name="DateOfBirth" />
        <oer:attribute description="Denormalization of the GENDER in HZ_PERSON_PROFILES" name="Gender" />
        <oer:attribute description="Denormalization of the MARITAL_STATUS in HZ_PERSON_PROFILES" name="MaritalStatus" />
        <oer:attribute description="Denormalization of the PREF_FUNCTIONAL_CURRENCY in HZ_PERSON_PROFILES/HZ_ORGANIZATION_PROFILES" name="PreferredFunctionalCurrency" />
        <oer:attribute description="Denormalization of the CEO_NAME in HZ_ORGANIZATION_PROFILES" name="CeoName" />
        <oer:attribute description="Denormalization of the COMMENTS in HZ_GROUP_PROFILES" name="Comments1" />
        <oer:attribute description="Stores the &quot;light weight&quot; user Global Unique Id. Light Weight users defined in the Extended Security (XS) System. Foreign key to FND_USER." name="UserGUID" />
        <oer:attribute description="Contact's formatted address" name="FormattedAddress" />
        <oer:attribute description="Contact's formatted phone number" name="FormattedPhoneNumber" />
        <oer:attribute description="Who column: indicates the user who last updated the row." name="LastUpdatedBy1" />
        <oer:attribute description="Who column: indicates the date and time of the creation of the row." name="CreationDate1" />
        <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row." name="LastUpdateLogin1" />
        <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy1" />
        <oer:attribute description="Who column: indicates the date and time of the last update of the row." name="LastUpdateDate1" />
      </oer:attributes>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="PartnerPublicContactResult">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:MethodResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Value" type="PartnerPublicContact" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PartnerPublicContact">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>RelationshipRecId</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="RelationshipRecId" type="xsd:long" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="RelationshipId" type="xsd:long" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="SubjectId" type="xsd:long" />
      <xsd:element minOccurs="0" name="SubjectType" type="xsd:string" />
      <xsd:element minOccurs="0" name="SubjectTableName" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="ObjectId" type="xsd:long" />
      <xsd:element minOccurs="0" name="ObjectType" type="xsd:string" />
      <xsd:element minOccurs="0" name="ObjectTableName" type="xsd:string" />
      <xsd:element minOccurs="0" name="RelationshipCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="Comments" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="StartDate" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="EndDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="Status" type="xsd:string" />
      <xsd:element minOccurs="0" name="RelationshipType" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreatedByModule" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation1" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation2" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation3" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation4" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation5" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation6" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation7" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation8" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation9" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation10" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation11" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation12" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation13" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation14" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation15" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation16" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation17" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation18" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation19" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation20" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation21" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation22" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation23" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation24" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation25" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation26" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation27" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation28" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation29" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation30" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="DirectionCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PercentageOwnership" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="ActualContentSource" type="xsd:string" />
      <xsd:element minOccurs="0" name="SubjectUsageCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ObjectUsageCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="HzParties" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ActiveStatus" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrimaryFlag" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PhoneContactPointType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="EmailContactPointType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="PartyId" type="xsd:long" />
      <xsd:element minOccurs="0" name="PartyNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="PartyName" type="xsd:string" />
      <xsd:element minOccurs="0" name="PartyType" type="xsd:string" />
      <xsd:element minOccurs="0" name="OrigSystemReference" type="xsd:string" />
      <xsd:element minOccurs="0" name="SICCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="HQBranchInd" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="JgzzFiscalCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PersonPreNameAdjunct" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PersonFirstName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PersonMiddleName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PersonLastName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PersonNameSuffix" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PersonTitle" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PersonAcademicTitle" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PersonPreviousLastName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="GroupType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Country" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Address1" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Address2" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Address3" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Address4" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="City" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PostalCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="State" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Province" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Status1" type="xsd:string" />
      <xsd:element minOccurs="0" name="County" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="SICCodeType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="URL" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="EmailAddress" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AnalysisFy" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="FiscalYearendMonth" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="EmployeesTotal" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="CurrencyFyPotentialRevenue" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="NextFyPotentialRevenue" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="YearEstablished" nillable="true" type="xsd:int" />
      <xsd:element minOccurs="0" name="MissionStatement" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LanguageName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CategoryCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Salutation" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="DUNSNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreatedByModule1" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CertificationLevel" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CertReasonCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrimaryPhoneContactPTId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="PrimaryPhonePurpose" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrimaryPhoneLineType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrimaryPhoneCountryCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrimaryPhoneAreaCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrimaryPhoneNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrimaryPhoneExtension" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PreferredContactMethod" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="HomeCountry" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PreferredNameId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="PreferredName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PersonLastNamePrefix" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PersonSecondLastName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PreferredContactPersonId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="TradingPartnerIdentifier" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="IdenAddrPartySiteId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="IdenAddrLocationId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="PrimaryEmailContactPTId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="PrimaryURLContactPTId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="DateOfBirth" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="Gender" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="MaritalStatus" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PreferredFunctionalCurrency" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CeoName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Comments1" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="UserGUID" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="FormattedAddress" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="FormattedPhoneNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastUpdatedBy1" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreationDate1" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdateLogin1" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreatedBy1" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastUpdateDate1" type="ns0:dateTime-Timestamp" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="partnerPublicContact" type="PartnerPublicContact" />
  <xsd:element name="partnerPublicContactResult" type="PartnerPublicContactResult" />
</xsd:schema>