DemoSynch/BAESynch/Service References/FusionPartnerService/PartnerDimensionMember.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://xmlns.oracle.com/apps/partnerMgmt/partnerCenter/" xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/partnerMgmt/partnerCenter/" sdoJava:package="oracle.apps.partnerMgmt.partnerCenter.publicModel" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://ccaa-test.crm.us2.oraclecloud.com:443/partnerCenterCorePublicModel/PartnerService?XSD=/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <xsd:import schemaLocation="https://ccaa-test.crm.us2.oraclecloud.com:443/partnerCenterCorePublicModel/PartnerService?XSD=/xml/sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:import schemaLocation="https://ccaa-test.crm.us2.oraclecloud.com:443/partnerCenterCorePublicModel/PartnerService?XSD=/xml/sdoXML.xsd" namespace="commonj.sdo/xml" />
  <xsd:annotation>
    <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
      <name xmlns="http://xmlns.oracle.com/apps/partnerMgmt/partnerCenter/">Partner Dimension Member</name>
      <description xmlns="http://xmlns.oracle.com/apps/partnerMgmt/partnerCenter/">A generic list of multiple values, used for territory dimensions.</description>
      <oer:category name="lba" xmlns:oer="http://xmlns.oracle.com/oer">
        <value xmlns="http://xmlns.oracle.com/apps/partnerMgmt/partnerCenter/">PartnerMgmtTop-Partner Management Business Area</value>
        <value xmlns="http://xmlns.oracle.com/apps/partnerMgmt/partnerCenter/">PartnerMgmtTop-Partner Management Business Area :
                    PartnerCenterCore-Partner Center</value>
      </oer:category>
      <oer:attributes xmlns:oer="http://xmlns.oracle.com/oer">
        <oer:attribute description="This column is the private key of this table." name="PartnerDimMembersId" />
        <oer:attribute description="The identifier of the entity that owns the relationship with the dimension data. For example, partner profile, partner program, or enrollment." name="OwnerId" />
        <oer:attribute description="The type of entity that owns the relationship with the dimension data. For example, partner profile, partner program, or enrollment." name="OwnerType" />
        <oer:attribute description="The type of partition in which the data is stored." name="PartitionTypeCode" />
        <oer:attribute description="The dimension of the item being stored. For example, geography." name="DimensionCode" />
        <oer:attribute description="The reference to the actual dimension member item." name="IntegrationId" />
        <oer:attribute description="This is the ATTRIBUTE PK1 column." name="AttributePk1" />
        <oer:attribute description="This is the ATTRIBUTE PK1 column." name="AttributePk2" />
        <oer:attribute description="A specific type of item within the dimension code. For example, for the products dimension there could be product items and product categories." name="DimSubtypeCode" />
        <oer:attribute description="Name of dimension member." name="DimensionMemberName" />
        <oer:attribute description="The name of the dimension remember this record refers to. This is stored in case the dimension member was removed and the user still needs to know the name of the item that was removed." name="DimensionMemberNameBackup" />
        <oer:attribute description="Used to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried." name="ObjectVersionNumber" />
        <oer:attribute description="Key data for the territory dimension." name="TerrDimMemberId" />
        <oer:attribute description="Type of the partition." name="TypeCode" />
        <oer:attribute description="Primary key." name="TerrDimPartitionId" />
        <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy" />
        <oer:attribute description="Who column: indicates the date and time of the creation of the row." name="CreationDate" />
        <oer:attribute description="Who column: indicates the user who last updated the row." name="LastUpdateDate" />
        <oer:attribute description="Who column: indicates the date and time of the last update of the row." name="LastUpdateLogin" />
        <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row." name="LastUpdatedBy" />
      </oer:attributes>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="PartnerDimensionMember">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>PartnerDimMembersId</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="PartnerDimMembersId" type="xsd:long" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="OwnerId" type="xsd:long" />
      <xsd:element minOccurs="0" name="OwnerType" type="xsd:string" />
      <xsd:element minOccurs="0" name="PartitionTypeCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="DimensionCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="IntegrationId" type="xsd:string" />
      <xsd:element minOccurs="0" name="AttributePk1" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AttributePk2" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="DimSubtypeCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="DimensionMemberName" type="xsd:string" />
      <xsd:element minOccurs="0" name="DimensionMemberNameBackup" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:IntObject" minOccurs="0" name="ObjectVersionNumber" type="xsd:int" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="TerrDimMemberId" type="xsd:long" />
      <xsd:element minOccurs="0" name="TypeCode" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="TerrDimPartitionId" type="xsd:long" />
      <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PartnerDimensionMemberResult">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:MethodResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Value" type="PartnerDimensionMember" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="partnerDimensionMemberResult" type="PartnerDimensionMemberResult" />
  <xsd:element name="partnerDimensionMember" type="PartnerDimensionMember" />
</xsd:schema>